html {
  font-size: 19px;
  background-color: #efeff1;
  top: 0;
}

h1, h2, h3, h4, h5, h6, body, p {
  font-family: 'Source Sans Pro', Verdana, Tahoma, sans-serif;
}

.btn, .form-control {
  border-radius: 3px;
}

.justify-center {
  justify-content: center;
}

.btn-primary {
  background-color: #2b53ad;
  border: 0;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.crumb {
  font-size: .80em;
  opacity: 0.6;
  margin-bottom: 20px;
}

.bottom-margin {
  margin-bottom: 20px;
}

header {
  min-height: 250px;
  background-color: #2b53ad;
  background-image: linear-gradient(180deg, #2b53ad 20%, #18397c 100%);
  border-top: 5px solid rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 105px;
}

header a {
  color: rgba(255, 255, 255, 0.7);
}
header a:hover {
  color: rgba(255, 255, 255, 1);
}

header div.justify-between:first-child {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
}

.fa-facebook-square, .fa-twitter-square, .fa-pinterest-square, .fa-instagram {
  font-size: 1.5em!important;
}

#logo-mobile {
  display: none;
}

#menu-top a {
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
}

#menu-top a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
}

#menu-top .fa-angle-double-down {
  font-size: 0.8em;
}

#menu-top .fa {
  opacity: 0.4;
}

#btn-search-box {
  background-color: #a3e35e;
  color: white;
  border-radius: 30px !important;
  margin-left: 15px;
}

#btn-search-box i {
  opacity: 1!important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header img {
  height: 48px;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4);
}

#menu-main, #search-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  color: white;
  border-radius: 3px;
  margin-top: 25px;
}

#menu-main div.flex-column, footer nav .flex-column {
  width: 300px;
  min-width: 150px;
  margin-right: 20px;
}

#menu-main div.flex-column:last-child, footer nav .flex-column:last-child {
  margin-right: 0;
}

#menu-main h3 {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 0 5px 5px;
  text-transform: uppercase;
}

#menu-main a {
  font-size: 0.8em;
  padding: 5px 7px;
  opacity: 0.75;
  color: white;
}

#menu-main a:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-decoration: none;
}

#mobile-links {
  display: none;
}

#search-box .flex {
  justify-content: flex-end;
}

#search-box button {
  margin: 20px 10px 0 10px;
}

#search-box button:last-child {
  margin-right: 0;
}

.display-1, .display-2, .display-3, .display-4 {
  color: #2b53ad;
  margin-bottom: 60px;
}

main {
  background-color: #efeff1;
}

main .container {
  z-index: 10;
  margin: -80px auto 40px auto;
  background-color: white;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03),
              10px 0px 15px rgba(0, 0, 0, 0.03),
              -10px 0px 15px rgba(0, 0, 0, 0.03);
}

main .fa-facebook-square, main .fa-twitter-square, main .fa-pinterest-square {
  margin-left: 10px;
  opacity: 0.6;
}

main .fa-facebook-square:hover {
  opacity: 1;
  color: #3b5598;
  cursor: pointer;
}

main .fa-twitter-square:hover {
  opacity: 1;
  color: #1da1f2;
  cursor: pointer;
}
main .fa-pinterest-square:hover {
  opacity: 1;
  color: #bd081c;
  cursor: pointer;
}

main section {
  width: 100%;
}

footer.flex {
  background-color: #efeff1;
}

footer h3 {
  font-size: 0.9em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 5px 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #2b53ad;
}

footer a {
  font-size: 0.8em;
  padding: 5px 7px;
  opacity: 0.75;
  color: #43444a;
}

footer a:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(8, 13, 40, 0.05);
  border-radius: 3px;
  text-decoration: none;
  color: black;
}

footer nav {
  padding: 20px 40px!important;
}

footer em {
  text-align: center;
  font-size: 1.5em;
  opacity: 0.25;
  margin: 0 auto 20px auto;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.btn:hover {
  cursor: pointer;
}

.btn i {
  opacity: 0.6;
  font-size: 0.8em;
  margin: 0 5px;
}

.cal-header {
  width: 14.25%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding:  10px 0;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
}

.cal-header:first-child {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.cal-day {
  min-height: 200px;
  width: 14.25%;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.flex .cal-day:first-child {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.cal-day p {
  margin-right: 10px;
  text-align: right;
}

.cal-inactive {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.05);
}

#logo-desktop:hover, #logo-mobile:hover {
  cursor: pointer;
}

.full-text {
  margin: 0 200px;
}

.cal-day button {
  font-size: 0.8em;
  white-space: normal;
  text-align: left;
  display: block;
  border-radius: 0;
}

.btn-success {
  background-color: #a3e35e;
  color: #082605;
  border: 0;
}

@media only screen and (max-width: 991px) {
  #logo-desktop {
    display: none;
  }
  #logo-mobile {
    display: flex;
  }

  .full-text {
    margin: 0 75px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {

  .container {
    width: 94%;
  }

  .hide-mobile {
    display: none;
  }

  .full-text {
    margin: 0;
  }

  .cal-day {
    width: 100%;
    min-height: 100px;
  }

  .flex .cal-day:first-child {
    border-left: 0px solid rgba(0, 0, 0, 0.2);
  }

  #month {
    text-align: center;
  }

  #menu-top a {
    padding: 12px 17px 8px 17px;
    font-size: 0.8em;
    margin-right: 0;
  }

  header {
    min-height: 175px;
  }

  #menu-main, footer nav, main .container .flex {
    flex-direction: column;
  }

  #menu-main div.flex-column, footer nav .flex-column,
  #menu-main div.flex-column:last-child, footer nav .flex-column:last-child {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  #menu-main h3, footer nav h3 {
    margin-top: 20px;
  }

  #mobile-links {
    display: flex;
  }

  main section, main aside {
    width: 100%;
  }

  main aside {
    margin-top: 40px;
  }
}
