html {
  font-size: 19px;
  background-color: #eee;
  top: 0;
}

h1, h2, h3, h4, h5, h6, body, p {
  font-family: 'Source Sans Pro', Verdana, Tahoma, sans-serif;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.crumb {
  font-size: .80em;
  opacity: 0.6;
  margin-bottom: 20px;
}

header {
  min-height: 400px;
  background-color: #3155a4;
  border-top: 5px solid rgba(0, 0, 0, 0.4);
}

header .container img {
  margin-top: 20px;
}

#logo-mobile {
  display: none;
}

#menu-top a {
  padding: 30px;
  color: white;
}

#menu-top a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
}

#menu-top .fa-angle-double-down {
  font-size: 0.8em;
}

#menu-top .fa {
  opacity: 0.4;
}

header img {
  height: 48px;
}

#menu-main {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
  padding: 20px;
  color: white;
  border-radius: 3px;
}

#menu-main div.flex-column, footer nav .flex-column {
  width: 300px;
  min-width: 150px;
  margin-right: 10px;
  flex-wrap: wrap;
}

#menu-main div.flex-column:last-child, footer nav .flex-column:last-child {
  margin-right: 0;
}

#menu-main h3 {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 0 15px 5px;
}

#menu-main a {
  font-size: 0.8em;
  padding: 5px 7px;
  opacity: 0.75;
  color: white;
}

#menu-main a:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-decoration: none;
}

#mobile-links {
  display: none;
}

.display-1, .display-2, .display-3, .display-4 {
  color: #3155a4;
  margin-bottom: 60px;
}

main {
  background-color: #eee;
}

main .container {
  z-index: 10;
  margin: -80px auto 40px auto;
  background-color: white;
  padding: 40px;
  border-radius: 3px;
}

main .fa-facebook-square, main .fa-twitter-square, main .fa-pinterest-square {
  margin-left: 10px;
  opacity: 0.6;
}

main .fa-facebook-square:hover {
  opacity: 1;
  color: #3b5598;
  cursor: pointer;
}

main .fa-twitter-square:hover {
  opacity: 1;
  color: #1da1f2;
  cursor: pointer;
}
main .fa-pinterest-square:hover {
  opacity: 1;
  color: #bd081c;
  cursor: pointer;
}

main section {
  width: 65%;
  margin-right: 50px;
}

main aside {
  width: 35%;
}

footer.flex {
  background-color: #eee;
}

footer h3 {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 3px 5px;
}

footer a {
  font-size: 0.8em;
  padding: 5px 7px;
  opacity: 0.75;
  color: #555;
}

footer a:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 991px) {
  #logo-desktop {
    display: none;
  }
  #logo-mobile {
    display: flex;
  }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {

  .container {
    width: 94%;
  }

  .hide-mobile {
    display: none;
  }

  #menu-top a {
    padding: 30px 15px;
    font-size: 0.8em;
    margin-right: 0;
  }

  header {
    min-height: 175px;
  }

  #menu-main, footer nav, main .container .flex {
    flex-direction: column;
  }

  #menu-main div.flex-column, footer nav .flex-column,
  #menu-main div.flex-column:last-child, footer nav .flex-column:last-child {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  #menu-main h3, footer nav h3 {
    margin-top: 20px;
  }

  #mobile-links {
    display: flex;
  }

  main section, main aside {
    width: 100%;
  }

  main aside {
    margin-top: 40px;
  }
}
