html, .bg-brand {
  background-color: #3155a4;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif!important;
}

h1, h2, h3, h4, h5, h6, .nav-link {
  font-weight: bold;
}

footer a {
  color: white!important;
  padding-bottom: 5px!important;
}

.flex {
  display: flex:
}

.bg-brand-dark, .bg-dark {
  background-color: #1b3369!important;
}

.bg-uber-dark {
  background-color: #0d1e42;
}

.bg-white {
  background-color: white;
}

.text-bold {
  font-weight: bold;
}

a {
  color: #3155a4;
}

.white {
  color: white;
}

/*.top-nav {
  padding: 10px 0;
}*/

a.text-white:hover {
  color: #a3e35e;
}

.icon-white {
  fill: white;
}

.top-corner-round {
  border-radius: 10px 10px 0 0;
}

.bottom-corner-round {
  border-radius: 0 0 10px 10px;
}

.page-content-top-margin {
  margin: 30px 0 20px;
}

.cal-weekdays {
  padding: 15px;
  background-color: #ddd;
}

.cal-btn {
  text-align: left;
  white-space: normal;
  max-width: 128px;
  font-size: 12px!important;
}

.small-date {
  color: #aaa;
  text-transform: uppercase;
  display: none;
}

.btn-primary {
  background-color: #3155a4;
  border: 1px solid #3155a4;
}

.btn-outline-primary {
  border: 1px solid #3155a4;
  color: #3155a4;
}

button.text-truncate {
  max-width: 128px;
}

.cal-date {
  border-bottom: 1px solid #ddd;
  text-align: justify;
  padding: 20px 0 10px 0;
}

.btn-success {
  background-color: #a3e35e;
  border: 1px solid #a3e35e;
}

.btn-outline-success {
  border: 1px solid #a3e35e;
  color: #a3e35e;
}

.wrap {
  flex-wrap: wrap;
}

#logo-hours {
  min-height: 200px;
  display: flex;
}

#hours {
  color: white;
  padding: 20px 0;
}

#logo {
  padding: 20px 0;
}

#searchBox input, #searchBox button {
  margin: 5px auto;
}

#searchBox {
  padding: 10px 15px;
}

#page-content {
  padding: 50px 30px;
}

#contactUsHidden {
  z-index: 5;
}

#page-footer {
  padding: 50px 30px;
}

@include media-breakpoint-down(sm) {
  .cal-weekdays {
    display: none;
  }
}
