html {
  font-size: 19px;
  background-color: #efeff1;
  top: 0;
}

h1, h2, h3, h4, h5, h6, body, p {
  font-family: 'Source Sans Pro', Verdana, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.btn, .form-control {
  border-radius: 3px;
}

.justify-center {
  justify-content: center;
}

.btn-primary {
  background-color: #2b53ad;
  border: 0;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.crumb {
  font-size: .80em;
  opacity: 0.6;
  margin-bottom: 20px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.text-small {
  font-size: 0.9em;
}
i.fab {
  height: 24px;
}

.card-link {
  margin-left: 20px;
}

.pad40 {
  padding: 40px;
}

.pad10 {
  padding: 10px;
}

button.list-group-item:hover {
  cursor: pointer;
}

header {
  min-height: 250px;
  background-color: #2b53ad;
  background-image: linear-gradient(180deg, #2b53ad 20%, #18397c 100%);
  border-top: 5px solid rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 105px;
}

header a {
  color: rgba(255, 255, 255, 0.7);
}
header a:hover {
  color: rgba(255, 255, 255, 1);
}

header div.justify-between:first-child {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
}

.fa-facebook-square, .fa-twitter, .fa-pinterest, .fa-instagram {
  font-size: 1.5em!important;
}

#logo-mobile {
  display: none;
}

#menu-top a {
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
}

#menu-top a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
}

#menu-top .fa-angle-double-down {
  font-size: 0.8em;
  opacity: 0.5;
}

.fa-star {
  font-size: 0.8em!important;
  color: #a3e35e!important;
  padding-bottom: 2px!important;
}

#menu-top .fas {
  opacity: 0.4;
}

#btn-search-box {
  background-color: #a3e35e;
  color: white;
  border-radius: 30px !important;
  margin-left: 15px;
}

#btn-search-box i {
  opacity: 1!important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header img {
  height: 48px;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4);
}

#menu-main, #search-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  color: white;
  border-radius: 3px;
  margin-top: 25px;
}

#menu-main div.flex-column, footer nav .flex-column {
  width: 300px;
  min-width: 150px;
  margin-right: 20px;
}

#menu-main div.flex-column:last-child, footer nav .flex-column:last-child {
  margin-right: 0;
}

#menu-main h3 {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 0 5px 5px;
  text-transform: uppercase;
}

#menu-main a {
  font-size: 0.8em;
  padding: 5px 7px;
  opacity: 0.75;
  color: white;
}

#menu-main a:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-decoration: none;
}

#mobile-links {
  display: none;
}

#search-box .flex {
  justify-content: flex-end;
}

#search-box button {
  margin: 20px 10px 0 10px;
}

#search-box button:last-child {
  margin-right: 0;
}

.display-1, .display-2, .display-3, .display-4 {
  color: #2b53ad;
  margin-bottom: 40px;
}

main {
  background-color: #efeff1;
}

main .container {
  z-index: 10;
  margin: -80px auto 40px auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03),
              10px 0px 15px rgba(0, 0, 0, 0.03),
              -10px 0px 15px rgba(0, 0, 0, 0.03);
}

main a, footer a {
  font-weight: 700;
  color: #3155a4;
  border-bottom: 1px solid #a3e35e;
}

main a:hover, footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid #3b5598;
}

/*main a::after, footer a::after {
  font-family: FontAwesome;
  font-size: 0.7em;
  font-weight: 400;
  color: #aaa;
  content: ' \f0c1';
  transform: rotate(45deg);
}*/

footer {
  margin-bottom: 60px;
}

footer.flex {
  background-color: #efeff1;
}

footer h3 {
  font-size: 0.9em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 5px 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #2b53ad;
}

footer em {
  text-align: center;
  font-size: 1.5em;
  opacity: 0.25;
  margin: 0 auto 20px auto;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.btn:hover {
  cursor: pointer;
}

.btn i {
  opacity: 0.6;
  font-size: 0.8em;
  margin: 0 5px;
}

#logo-desktop:hover, #logo-mobile:hover {
  cursor: pointer;
}

.full-text {
  margin: 10px 180px;
}

.btn-success {
  background-color: #a3e35e;
  color: #082605;
  border: 0;
  margin: 2px;
}

.calendar-container {
  font-family: 'Source Sans Pro', serif!important;
  font-size: 1em!important;
}

.card-header {
  font-weight: 700;
}

.no-under {
  border-bottom: 0px solid #fff !important;
}

dt, dd {
  margin: 0;
}

dd:last-child {
  margin-top: 10px;
}

.ev-h, .ev-m {
  margin-bottom: 10px;
}

.ev-h {
  background: rgba(43, 83, 173, 0.1);
  border-left: 10px solid #2b53ad;
  padding: 15px 15px 0 15px;
  border-radius: 0 5px 5px 0;
}

.ev-m {
  background: rgba(163, 227, 94, 0.2);
  border-left: 10px solid #a3e35e;
  padding: 15px 15px 0 15px;
  border-radius: 0 5px 5px 0;
}

div.list-group-item {
  border-radius: 0;
  border-left: 10px solid #eee;
  background: #f5f5f5;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

div.list-group-item-primary {
  background: rgba(43, 83, 173, 0.2);
  border-left: 10px solid #2b53ad;
}

div.list-group-item-success {
  background: rgba(163, 227, 94, 0.3);
  border-left: 10px solid #a3e35e;
}

div.list-group-item-secondary {
  border-left: 10px solid #ccc;
  background: #ddd;
}

#event-filter {
  margin-bottom: 30px;
}

footer div:first-child {
  margin-bottom: 20px;
}

.card-deck {
  margin: 50px 0;
}

.card-footer {
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

section {
  padding-right: 30px;
}

@media only screen and (max-width: 991px) {
  #logo-desktop {
    display: none;
  }
  #logo-mobile {
    display: flex;
  }

  .full-text {
    margin: 10px 75px;
  }

  #topline {
    flex-direction: column;
  }

  .card-deck {
    flex-direction: column;
    padding: 10px 0;
  }

  .display-4 {
    font-size: 3em;
    margin-left: 40px;
  }

}

@media only screen and (min-width: 200px) and (max-width: 768px) {

  .container {
    width: 94%;
    padding: 15px;
  }

  .hide-mobile {
    display: none;
  }

  .full-text {
    margin: 10px 0;
  }

  .card-deck {
    flex-direction: column;
    padding: 10px 0;
  }
  #menu-top a {
    padding: 12px 17px 8px 17px;
    font-size: 0.8em;
    margin-right: 0;
  }

  header {
    min-height: 175px;
  }

  #menu-main, footer nav, main .container .flex {
    flex-direction: column;
  }

  #menu-main div.flex-column, footer nav .flex-column,
  #menu-main div.flex-column:last-child, footer nav .flex-column:last-child {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  #menu-main h3, footer nav h3 {
    margin-top: 20px;
  }

  #mobile-links {
    display: flex;
  }

  main section, main aside {
    width: 100%;
  }

  main aside {
    margin-top: 40px;
  }

  .display-4 {
    font-size: 2.2em;
    margin-left: 40px;
  }
}

@media print {
  header {
    display: none;
  }
  footer {
    display:none;
  }
}
