html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #3155a4;
}

#nav-full {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  height: 80px;
}

#nav-small {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav p, nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav .fa {
  opacity: 0.6;
}

#contact {
  background-color: #a3e35e;
  align-items: stretch;
  padding: 10px 25px 12px 25px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

#contact:hover {
  box-shadow: none;
  background-color: #89c846;
  text-shadow: none;
}

#contact a:hover {
  color: white;
}

#contact .fa {
  opacity: 1;
}

nav a:hover {
  color: #a3e35e;
}

.small {
  font-size: 0.85em!important;
}

p#contact {
  text-shadow: 0 0 6px rgba(0,0,0,0.4);
}

nav p#contact a:hover {
  border-bottom: 0px solid #89c846;
}

.bold {
  font-weight: bold;
}

.bg-white {
  background-color: white;
}

.bg-dark {
  background-color: #1a3b81;
  margin: -8px -8px 0 -8px;
  height: 80px;
}

.bg-active {
  background-color: #a3e35e;
}

.brand {
  color: #3155a4;
}

.active {
  color: #a3e35e;
}

.dark {
  color: #1a3b81;
}

.white {
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    border-radius: 3px;
    padding: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #222;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:last-child {
  border-bottom: 0px solid #ddd;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 3px;
  color: #3155a4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown
content is shown */
.droptext:hover {
    color: #a3e35e;
}

#logo-hours {
  display: flex;
  margin: 30px auto;
  max-width: 1200px;
  padding: 30px 10px;
  justify-content: space-between;
  align-items: center;
}

#logo-hours h2 {
  margin: -5px 0 10px 0;
  line-height: 0.8em;
}

#page-body {
  background-color: white;
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#body-main {
  max-width: 850px;
  flex: 1 1 545px;
}

#body-sidebar {
  max-width: 300px;
  flex: 1 1 200px;
  padding-top: 8px;
}

/* MEDIA QUERIES */

/* Bigger than cell phones */
@media (min-width: 801px) {
  #nav-small {
    display: none;
  }
}

/* Cell phones */
@media (max-width: 800px) {
  #nav-full {
    display: none;
  }
}
