html {
  font-family: "Source Sans Pro", Tahoma, sans-serif;
  font-size: 17px;
  top: 0;
  background-color: #e1e5ed;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

/* Flexbox & page structure ------------------------------------------------- */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-ju-bw {
  justify-content: space-between;
  width: 100%;
}

.flex-al-cen {
  align-items: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Header ------------------------------------------------------------------- */

header {
  background-color: #2b53ad;
  background-image: linear-gradient(180deg, #2b53ad 20%, #23187c 100%);
  border-top: 5px solid rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 80px;
}

#logo-nav {
  margin-top: 20px;
}

#logo {
  max-height: 65px;
  margin-right: 50px;
}

#logo:hover {
  cursor: pointer;
}

#logo-box {
  flex-basis: 1;
  min-width: 70%;
}

#hours {
  padding-left: 20px;
}

#main-nav {
  font-weight: 700;
  flex-basis: 1;
}

#main-nav a:hover {
  background-color: #23187c;
  border-radius: 3px;
}

#full-nav, #search-box {
  max-width: 1200px;
  margin: 30px auto 0 auto;
}

#search-box {
  width: 100%;
  justify-content: stretch;
  border-radius: 3px;
}

#input-search {
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  padding: 10px;
  flex-grow: 1;
}

#btn-search-website {
  margin-right: 20px;
}

#btn-search-catalog, #btn-search-website {
  margin-top: 20px;
  margin-bottom: 20px;
}

#full-nav {
  border-radius: 3px;
}

#full-nav .flex-col {
  width: 25%;
}

#full-nav h4, footer h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 10px;
  margin-bottom: 5px;
  padding-left: 5px;
}

#full-nav a {
  padding: 5px;
}

#full-nav a:hover {
  background-color: #10084b;
  opacity: 1!important;
  border-radius: 3px;
}

#full-nav a:active, .active {
  color: #a3e35e;
}

#mobile-extras {
  display: none;
}

/* Main content ------------------------------------------------------------- */

main {
  max-width: 1200px;
  min-height: 220px;
  margin: -50px auto 50px auto;
  background-color: white;
  border-radius: 3px;
  z-index: 5;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03),
              10px 0px 15px rgba(0, 0, 0, 0.03),
              -10px 0px 15px rgba(0, 0, 0, 0.03);
}

/* Footer ------------------------------------------------------------------- */

footer {
  margin-bottom: 40px;
}

footer div.flex-col {
  width: 25%;
}

footer h4 {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

footer p, footer address, footer strong, footer input, footer label {
  font-size: 0.9em;
  line-height: 1.3em;
  padding-left: 5px;
}

footer input {
  margin-left: 5px;
}

footer a {
  font-size: 0.9em;
}

footer label {
  padding-top: 10px;
}

footer h3 {
  text-align: center;
  padding: 10px 0 30px 0;
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
  opacity: 0.2;
}

#mission {
  justify-content: center;
}

/* Misc styles -------------------------------------------------------------- */

#hours p, #full-nav a {
  line-height: 1.4em;
}

strong {
  font-weight: 700;
}

.white {
  color: white;
}

.weak {
  opacity: 0.7;
}

.pad20, .btn {
  padding: 20px;
}

button, .btn {
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1em;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
}

button:hover, .btn:hover {
  cursor: pointer;
  background-color: #000;
  transition: linear 150ms;
}

.mar20 {
  margin: 20px;
}

.txt-sm {
  font-size: 0.9em;
}

.purple {
  background-color: #23187c;
}

.hidden {
  display: none;
}

.bg-blue {
  background-color: #2b53ad;
}

main a, footer a {
  color: #2b53ad;
  font-weight: 700;
  border-bottom: 2px solid #e1e5ed;
}

main a:hover, footer a:hover {
  color: black;
  border-bottom: 2px solid black;
}

input {
  border-radius: 3px;
  padding: 10px 20px;
  font-family: "Source Sans Pro", sans-serif;
  border-style: none;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03),
              3px 0px 5px rgba(0, 0, 0, 0.03),
              -3px 0px 5px rgba(0, 0, 0, 0.03);
}

/* -------------------------------------------------------------------------- */
/* Media Queries ------------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width: 200px) and (max-width: 785px) {

  main, #logo-nav, #mission, #full-nav, #search-box, footer {
    margin-left: 15px;
    margin-right: 15px;
  }

  #logo-nav {
    width: 90%;
    justify-content: stretch;
  }

  #logo {
    height: 45px;
  }

  #logo-box {
    justify-content: space-between;
  }

  #main-nav {
    justify-content: flex-end;
  }

  #full-nav p {
    padding-left: 10px;
    line-height: 1.3em;
    margin-bottom: 20px;
  }

  #mobile-extras {
    display: flex;
  }

  .hide-mobile {
    display: none;
  }

  footer div.flex-ju-bw, #full-nav {
    flex-direction: column;
    max-width: 94%;
    flex-basis: 1;
  }

  footer div.flex-col.pad20, #full-nav .pad20 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #full-nav a {
    padding: 10px;
  }

}
