html {
  font-family: 'Source Sans Pro', sans-serif;
}

.bold {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin: 0;
  background-color: #1a3b81;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  border-bottom: 2px solid white;
}
