h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

p,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: 600;
}

.text-primary {
    color: #3155a4;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #193a83;
}

.text-success {
    color: #a3e35e;
}

a.text-success:hover,
a.text-success:focus {
    color: #609a22;
}

.bg-primary {
    color: #fff;
    background-color: #3155a4;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #193a83;
}

.bg-success {
    color: #2e4b0e;
    background-color: #a3e35e;
}

a.bg-success:hover,
a.bg-success:focus {
    color: #000;
    background-color: #609a22;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #eeeeee;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 21px;
    border-left: 5px solid #a3e35e;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    filter: none;
    border-color: #dbdbdb;
    text-shadow: none;
    border-color: #ccc;
}

.btn-primary {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    filter: none;
    border-color: #245580;
    background: #3155a4;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #193a83;
    background-position: 0 -15px;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #193a83;
    border-color: #193a83;
}

.btn-success {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    filter: none;
    border-color: #a3e35e;
    color: #233c08;
    background: #a3e35e;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #419641;
    background-position: 0 -15px;
}

.btn-success:active,
.btn-success.active {
    background-color: #a3e35e;
    border-color: #233c08;
    color: #000;
}

.navbar-default {
    background-color: #3155a4;
    border-color: #3155a4;
}

.nav-pills a {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.nav-pills>li>a {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-pills>li>a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
}

dl dd {
    padding-left: 20px;
}