<!-- TOP NAV -->
<div class="bg-dark">
  <nav id="nav-full" class="bold">
    <p><a  class="active" href="home.html" />Home</a></p>
    <div class="dropdown">
      <p class="droptext">Services &nbsp;<i class="fa
      fa-chevron-down small" aria-hidden="true"></i></p>
      <div class="dropdown-content">
        <a href="calendar.html">Calendar</a>
        <a href="calendar.html">Calendar</a>
        <a href="calendar.html">Calendar</a>
      </div>
    </div>
    <p><a href="calendar.html">Calendar</a></p>
    <p><a href="blog.html">Blog</a></p>
    <div class="dropdown">
      <p class="droptext">Community &nbsp;<i class="fa
      fa-chevron-down small" aria-hidden="true"></i></p>
      <div class="dropdown-content">
        <a href="calendar.html">Calendar</a>
        <a href="calendar.html">Calendar</a>
        <a href="calendar.html">Calendar</a>
      </div>
    </div>
    <div class="dropdown">
      <p class="droptext">About &nbsp;<i class="fa
      fa-chevron-down small" aria-hidden="true"></i></p>
      <div class="dropdown-content">
        <a href="calendar.html">Calendar</a>
        <a href="calendar.html">Calendar</a>
        <a href="calendar.html">Calendar</a>
      </div>
    </div>
    <p id="contact"><a href="contact.html">Contact Us &nbsp;<i
      class="fa fa-envelope small" aria-hidden="true"></i></a></p>
  </nav>
  <nav id="nav-small" class="bold">
    <p><a href="index.html">Menu &nbsp;<i class="fa fa-chevron-down
      small" aria-hidden="true"></i></a></p>
  </nav>
</div>
<!-- LOGO & HOURS -->
